@mixin Font {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/static/Montserrat-Bold.ttf);
}

$color: #ec2127;

//start introduction section
#introduction {
    .navigation {
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
        width: 105%;
        border-radius: 4px;
        padding: 10px;
        background-color: white;

        ul {
            margin-top: 13px;

            li {
                &:nth-child(1) {
                    background: #fafafa;
                    width: 104%;
                }

                &:last-child {
                    a {
                        span {
                            color: $color;
                        }

                        i {
                            color: $color;
                        }
                    }
                }

                a {
                    font-size: 14px;
                    color: #3C3F42;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        font-size: 16px;

                        &:nth-child(3) {
                            font-size: 10px;
                        }
                    }

                    span {
                        flex: auto;
                    }

                    .span1 {
                        color: $color;
                    }

                    img {
                        margin-bottom: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .intro-bg {
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
        position: relative;
        a {
            img {
                width: 100%;
            }
        }
        i {
            background-color: #fefafa;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            &:nth-child(1) {
                position: absolute;
                top: 50%;
            }

            &:nth-child(3) {
                position: absolute;
                top: 50%;
            }

        }

        .lines {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 30px;

            .line {
                height: 2px;
                width: 10%;
                margin-left: 10px;

                &:nth-child(1) {
                    background-color: $color;
                }

                &:nth-child(2) {
                    background-color: rgb(235, 225, 225);
                }

                &:nth-child(3) {
                    background-color: rgb(235, 225, 225);
                }
            }
        }
    }
}

//end introduction section

//start guarantees section
#guarantees {
    margin: 50px 0;

    .box {
        background-color: #ededeedc;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height: 135px;
        margin-left: 5px;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35%;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 76%;

            span {
                &:nth-child(1) {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #232332;
                }

                &:nth-child(2) {
                    font-size: 13px;
                    color: #53595c;
                    line-height: 115%;
                    @include Font();
                }
            }
        }
    }
}
//end guarantees section

//start innovations section
#innovations {
    margin-bottom: 70px;
}
//end innovations section

//start annonuncement section
#announcement {
    border-radius: 20px;
    .announcement-top {
        position: relative;
        background-color: #FFF;
        padding: 40px;
        box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
        h2 {
            text-transform: uppercase;
            font-size: 40px;
            color: $color;
            font-weight: bold;
            span {
                color: #0c61d5;
            }
        }

        img {
            width: 11%;
            position: absolute;
            top: 12px;
            right: 9px;

        }

        .tabs-scroll {
            overflow-y: hidden;
            overflow-x: scroll;
            .tabs {
                padding: 10px 0;
                width: 120%;
                a{
                    color: #232332;
                    span {
                        padding: 6px 14px;
                        background-color: #eaf0f8;
                        border-radius: 19px;
                        font-size: 16px;
                    }
                    &:nth-child(1){
                        span{
                            background-color: #0c61d5;
                            padding: 10px 30px;
                            color: white;
                        }
                    }
                }
                
            }
        }

        .select-option {
            #tabs {
                border: none;
                width: 100%;
                outline: none;
                cursor: pointer;
            }
        }

    }

    .announcement-bottom {
        padding: 40px 40px 20px 40px;
        background-color: #FFA319;
        display: flex;
        align-items: center;

        .left {

            .description {
                ul {
                    li {
                        list-style: inside;
                        color: white;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }

            .timer {
                width: 72%;
                border-radius: 20px;
                padding: 10px 20px;
                background-color: #FED237;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                margin-top: 50px;

                span {
                    font-size: 24px;
                    letter-spacing: 3px;
                }
            }
        }

        .right {
            margin-left: 40px;
            padding: 15px;

            .slider {
                padding: 18px;
                background-color: #FFF;
                border-radius: 20px;

                .desc {
                    margin: 12px 0;

                    a {
                        font-size: 20px;
                        color: #232332;
                    }
                }

                .img-box {
                    img {
                        border-radius: 20px;
                    }
                }

                .rating {

                    span,
                    i {
                        font-size: 20px;
                    }
                }

                .price {
                    margin-top: 20px;
                    color: $color;
                    font-weight: bold;
                    font-size: 30px;
                }

                .btns {
                    margin-top: 22px;

                    button {
                        background-color: #ec2127;
                        padding: 10px 30px;
                        border: none;
                        font-size: 18px;
                        color: white;
                        letter-spacing: 1.4px;
                        border-radius: 5px;
                    }

                    a {
                        margin-left: 20px;
                        font-size: 12px;
                        border-bottom: 1px dotted;
                        color: #85898b;

                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

//end annonuncement section

//start brands section
#brands {
    margin: 100px 0;

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #e8e8e8;
        width: 150px;
        height: 150px;

        img {
            width: 80%;
        }

        span {
            text-transform: uppercase;
            color: #232332;
            font-size: 13px;
        }
    }
}

//end brands section

// start sale section
#sale {
    margin-bottom: 100px;
    position: relative;

    .sales {
        background-color: #ededee;
        border-radius: 20px;
        padding: 50px 22px 16px;

        .left {
            .text {
                margin-bottom: 50px;

                h2 {
                    font-size: 40px;
                    color: $color;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: Montserrat;

                    span {
                        color: #232332;
                    }
                }

                p {
                    color: #53595c;
                    font-size: 20px;
                    margin-bottom: 62px;
                    @include Font();
                }

                a {
                    padding: 20px 35px;
                    background: $color;
                    border-radius: 10px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 600;

                    i {
                        margin-left: 6px;
                    }
                }

            }

            img {
                position: absolute;
                bottom: 0;
            }
        }

    }
}

// end sale section

//start best-sales section
#best-sales {
    .cards {
        .card-rating {
            i {
                color: #fed237 !important;
            }
        }

        .product-colors {
            margin-bottom: 10px;

            a {
                position: relative;

                &:nth-child(4) {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        width: 22px;
                        height: 22px;
                        top: -4px;
                        left: -3px;
                        border: 1px solid $color;
                        border-radius: 50%;
                        z-index: 2;
                    }
                }
            }

            img {

                width: 15%;
                border-radius: 50%;
            }
        }

        .prod-color {
            margin-bottom: 10px;

            a {
                position: relative;

                &:nth-child(2) {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        width: 22px;
                        height: 22px;
                        top: -4px;
                        left: -3px;
                        border: 1px solid $color;
                        border-radius: 50%;
                        z-index: 2;
                    }
                }
            }

            img {

                width: 15%;
                border-radius: 50%;
            }

        }
    }
}

//end best-sales section

//start blog section
#blog {
    margin: 100px 0;

    .blogs {
        margin: 20px 0;

        .blog-card {
            border-radius: 20px;
            box-shadow: 0 2px 8px rgb(0 0 0 / 8%);

            .img-box {
                img {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }

            .content {
                padding: 20px 20px 30px 20px;

                .content-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 11px;
                    margin-bottom: 15px;

                    span {
                        &:nth-child(1) {
                            background-color: rgb(251, 230, 155);
                            padding: 1px 5px;
                        }

                        &:nth-child(2) {
                            color: #85898b;
                        }

                    }
                }

                a {
                    color: #232332;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
            }
        }

    }
}

//end blog section

#subscribe {
    margin: 100px 0;

    .subscribe-content {
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%), 0 2px 8px rgb(0 0 0 / 8%);
        border-radius: 24px;
        padding: 60px 20px;
        display: flex;
        align-items: center;

        .gift-content {
            width: 30%;

            h1 {
                font-size: 44px;
                font-family: Montserrat;
                font-weight: bolder !important;
                color: $color;
                text-transform: uppercase;
                line-height: 30px;
                width: 90%;

                span {
                    font-size: 28px;
                    color: #232332;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                width: 88%;

                li {
                    width: 50%;
                    list-style: inside;
                    padding-left: 1%;
                    font-size: 14px;
                }
            }
        }

        .form-content {
            display: flex;
            align-items: center;

            .left-side {
                width: 55%;

                p {
                    font-size: 14px;
                    color: #232332;
                }

                &:nth-child(1) {
                    input {
                        margin-right: 15px;
                        margin-top: 10px;
                    }
                }

                input {
                    width: 44%;
                    height: 45px;
                    padding: 10px;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    outline: none;

                    &::placeholder {
                        font-size: 12px;
                        color: #85898b;
                    }
                }

                .agree {
                    display: flex;
                    align-items: center;

                    input {
                        width: 4%;
                        margin-top: 0;
                        margin-right: 7px;
                    }

                    span {
                        color: #232332;
                        font-size: 12px;
                    }
                }
            }

            .right-side {
                width: 45%;
                margin-left: 35px;

                button {
                    height: 45px;
                    text-transform: uppercase;
                    background-color: $color;
                    color: white;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    width: 145%;
                    border: none;
                    border-radius: 4px;
                }
            }
        }

    }
}