@mixin Font {
    font-family: Arial, Helvetica, sans-serif;
}

$color: #ec2127;

.rating {
    margin: 8px 0;
    span {
        color: #85898b !important;
        text-transform: lowercase !important;
        font-size: 10px !important;
        opacity: .6;
    }

    i {
        color: #85898b;
        opacity: .3;
        font-size: 14px;
    }
}
.credict {
    display: flex;
    align-items: center;

    i {
        color: #FFA319;
        margin-right: 5px;
    }

    span {
        font-size: 12px;
        @include Font();
        opacity: .7;
        border-bottom: 1px dotted;
        font-weight: 600;
    }
}


//start introduction section
#introduction {
    .navigation {
        ul {
            margin-top: 13px;

            li {
                &:last-child {
                    a {
                        span {
                            color: $color;
                        }

                        i {
                            color: $color;
                        }
                    }
                }

                a {
                    font-size: 14px;
                    color: #3C3F42;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        font-size: 16px;

                        &:nth-child(3) {
                            font-size: 10px;
                        }
                    }

                    span {
                        flex: auto;
                    }

                    .span1 {
                        color: $color;
                    }

                    img {
                        margin-bottom: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .intro-bg {
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
        position: relative;

        i {
            background-color: #fefafa;
            border-radius: 50%;
            padding: 10px;

            &:nth-child(1) {
                position: absolute;
                top: 50%;
                left: 3%;
                transform: translate(-50%, -50%);
            }

            &:nth-child(3) {
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translate(-50%, -50%);
            }

        }

        .lines {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 30px;

            .line {
                height: 2px;
                width: 10%;
                margin-left: 10px;

                &:nth-child(1) {
                    background-color: $color;
                }

                &:nth-child(2) {
                    background-color: rgb(235, 225, 225);
                }

                &:nth-child(3) {
                    background-color: rgb(235, 225, 225);
                }
            }
        }
    }
}
//end introduction section

//start advert section
#guarantees {
    margin: 50px 0;

    .box {
        background-color: #ededeedc;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height: 135px;
        margin-left: 5px;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35%;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 76%;

            span {
                &:nth-child(1) {
                    font-size: 17px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #232332;
                }

                &:nth-child(2) {
                    font-size: 13px;
                    color: #53595c;
                    line-height: 115%;
                    @include Font();
                }
            }
        }
    }
}
//end advert section

//start innovations section
#innovations {
    margin-bottom: 70px;

    .title {
        h2 {
            color: #232332;
            font-size: 25px;
            font-weight: bold;
        }

        a {
            color: #53595c;
            font-size: 13px;
            @include Font();

            i {
                margin-left: 10px;
            }
        }
    }
    .cards {
        position: relative;

        .product-card {
            padding: 20px;
            box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
            border-radius: 4px;
            margin: 15px 0;
            background-color: #FFF;

            .card-top {
                color: #232332;
                display: flex;
                justify-content: flex-end;
                margin: 15px 0;

                i {
                    font-size: 18px;
                    opacity: .7;
                    margin-left: 10px;
                }
            }
            .card-img {
                height: 260px;
                padding: 10px;
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .card-center {
                font-size: 10px;
                display: flex;
                flex-wrap: wrap;
                letter-spacing: .05em;

                span {
                    text-transform: uppercase;
                    padding: 2px 7px;
                    margin-bottom: 6px;
                    height: 18px;
                    color: white;

                    &:nth-child(3) {
                        font-size: 12px;
                    }

                    &:nth-child(2) {
                        margin-left: 5px;
                    }

                }

                a {
                    font-size: 10px;
                    color: #232332;
                }

                
            }

            .card-bottom {
                .price {
                    p {
                        font-size: 24px;
                        color: #232332;
                        @include Font();
                    }
                }

                .shopping-cart {
                    display: flex;
                    justify-content: flex-end;

                    button {
                        border: none;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        color: $color;
                        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
                        background-color: white;

                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .left {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: -2%;
            transform: translateY(-50%);
            background-color: #FFF;
            box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
            width: 30px;
            padding: 6px;
            border-radius: 50%;
            height: 30px;
            display: flex;
            text-align: center;
        }

        .right {
            cursor: pointer;
            position: absolute;
            right: -2%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #FFF;
            box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
            width: 30px;
            border-radius: 50%;
            height: 30px;
            display: flex;
            text-align: center;
            padding: 6px;
        }
    }

    .line {
        height: 8px;
        background-color: #f2f2f2;
        border-radius: 20px;

        .child-line {
            height: 8px;
            width: 18%;
            background-color: $color;
            border-radius: 20px;

        }
    }


}
//end innovations section

//start annonuncement section
#announcement {
    border-radius: 20px;
    .announcement-top {
        position: relative;
        background-color: #FFF;
        padding: 40px;
        box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
        h2 {
            text-transform: uppercase;
            font-size: 40px;
            color: $color;
            font-weight: bold;

            span {
                color: #0c61d5;
            }
        }

        img {
            width: 11%;
            position: absolute;
            top: 12px;
            right: 9px;

        }

        .tabs-scroll {
            overflow-y: hidden;
            overflow-x: scroll;

            .tabs {
                padding: 10px 0;
                width: 120%;

                span {
                    padding: 6px 14px;
                    background-color: #eaf0f8;
                    border-radius: 19px;
                    font-size: 16px;
                }
            }
        }
        .select-option{
            #tabs{
                border: none;
                width: 100%;
                outline: none;
                cursor: pointer;
            }
        }

    }

    .announcement-bottom {
        padding: 40px 40px 20px 40px;
        background-color: #FFA319;
        display: flex;
        align-items: center;

        .left {
          
            .description {
                ul {
                    li {
                        list-style: inside;
                        color: white;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }

            .timer {
                width: 72%;
                border-radius: 20px;
                padding: 10px 20px;
                background-color: #FED237;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                margin-top: 50px;
                span {
                    font-size: 24px;
                    letter-spacing: 3px;
                }
            }
        }

        .right {
            margin-left: 40px;
            padding: 15px;
            .slider {
                padding: 18px;
                background-color: #FFF;
                border-radius: 20px;
                .desc{
                    margin: 12px 0;
                    a{
                        font-size: 20px;
                        color: #232332;
                    }
                }
              
                .img-box{
                    img{
                        border-radius:20px ;
                    }
                }
                .rating{
                    span,i{
                        font-size: 20px;
                    }
                }
                .price{
                    margin-top: 20px;
                    color: $color;
                    font-weight: bold;
                    font-size: 30px;
                }
                .btns{
                    margin-top: 22px;
                    button{
                        background-color: #ec2127;
                        padding: 10px 30px;
                        border: none;
                        font-size: 18px;
                        color: white;
                        letter-spacing: 1.4px;
                        border-radius: 5px;
                    }
                    a{
                        margin-left: 20px;
                        font-size: 12px;
                        border-bottom: 1px dotted;
                        color: #85898b;
                        &:hover{
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
//end annonuncement section

#brands{
    margin: 100px 0;
    .brand{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #e8e8e8;
        width: 150px;
        height: 150px;
        img{
           width: 80%;
        }
        span{
            text-transform: uppercase;
            color: #232332;
            font-size: 13px;
        }
    }
}

#sale{
    .sales{
        background-color: #ededee;
        border-radius: 20px;
        padding: 40px ;
    }

}


@media (max-width:992px) {
    #guarantees {
        .boxes {
            .box {
                margin-bottom: 10px;

                img {
                    width: 20%;
                }
            }
        }
    }

    #innovations {
        .title {
            h2 {
                font-size: 20px;
            }
        }
    }
    #announcement{
        .announcement-top{
            padding: 20px;
        }
        .announcement-bottom{
            flex-direction: column-reverse;
            .left{
                margin-top: 20px;
            }
            .right{
                margin: 0;
                .slider{
                    width: 100%;
                    .img-box{
                        width: 50%;
                        img{
                        width: 100%;
                        }
                    }
                }
            }
        }

    }
    #brands{
        .brands-slider{
            flex-wrap: wrap;
            a{
                margin-bottom: 15px;
            }
        }
    }
}