
@media (max-width:992px) {
    #guarantees {
        .boxes {
            .box {
                margin-bottom: 10px;

                img {
                    width: 20%;
                }
            }
        }
    }
    .product-card {
        width: 100% !important;
    }
    #innovations {
        .title {
            h2 {
                font-size: 20px;
            }
        }
    }

    #announcement {
        .announcement-top {
            padding: 20px;
        }
        .announcement-bottom {
            flex-direction: column-reverse;

            .left {
                margin-top: 20px;
            }

            .right {
                margin: 0;

                .slider {
                    width: 100%;

                    .img-box {
                        width: 50%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }

    #brands {
        .brands-slider {
            flex-wrap: wrap;

            a {
                margin-bottom: 15px;
            }
        }
    }

    #sale {
        .memory {
            width: 25% !important;
        }
        .left {
            .text {
                h2 {
                    font-size: 18px !important;
                }

                p {
                    font-size: 13px !important;
                    margin-bottom: 0 !important;
                }

                a {
                    display: none;
                }
            }

            img {
                width: 30%;
                top: 80px;
                right: 25px;
            }
        }
    }

    #subscribe{
        .subscribe-content{
            display: block;
            padding: 50px;
            .gift-content{
                width: 100% !important;
                h1{
                    text-align: center;
                    width: 100%;
                }
                ul{
                    width: 100% !important;
                }
            }
            .form-content{
                width: 100%;
                display: block;
                .left-side{
                    width: 100%;
                   
                    p{
                        text-align: center;
                        margin-top: 20px;
                    }
                    input{
                        width: 100%;
                    }
                }
                .right-side{
                    width: 100%;
                    margin-left: 0;
                    button{
                        width: 100%;
                    }

                }
            }
        }
    }
    #footer-bottom{
        .copyright{
            margin-bottom: 10px;
        }
        .owner{
            margin-bottom: 5px;
        }
    }
}