#up {
  margin: 20px 0;
}
#up .left .logo img {
  width: 130%;
}
#up .left ul {
  padding-left: 20px !important;
  list-style: none;
  margin-top: 10px;
}
#up .left ul li {
  transition: 0.4s;
}
#up .left ul li:first-child a {
  color: #ec2127;
  font-family: Arial, Helvetica, sans-serif;
}
#up .left ul li:not(:last-child) {
  margin-right: 10px;
}
#up .left ul li a {
  color: #53595c;
  font-size: 14px;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}
#up .left ul li:hover {
  opacity: 0.7;
}
#up .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#up .right .call-back {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
#up .right .call-back a {
  font-size: 32px;
  font-weight: bold;
  color: #232222;
}
#up .right .call-back .call-back-info {
  margin-left: 10px;
}
#up .right .call-back .call-back-info p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
}
#up .right .call-back .call-back-info p:nth-child(1) {
  opacity: 0.7;
}
#up .right .call-back .call-back-info p:nth-child(2) {
  font-weight: 600;
}
#up .right .lang a {
  color: black;
  opacity: 1;
}
#up .right .lang a:last-child {
  opacity: 0.7;
}

#phone-header {
  margin-top: 15px;
  padding-bottom: 15px;
}
#phone-header i {
  font-size: 20px;
  color: #000000;
}
#phone-header .left .hamburger-menu {
  margin-right: 15px;
}
#phone-header .center .logo {
  width: 90px;
}
#phone-header .center .logo img {
  width: 100%;
}
#phone-header .right .search {
  margin-right: 15px;
}

#down {
  background-color: #3c3f42;
}
#down .menu {
  display: flex;
  align-items: center;
}
#down .menu .catalog {
  cursor: pointer;
  background-color: #232222;
  padding: 20px;
  width: 33%;
  color: white;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
#down .menu .catalog i {
  font-size: 20px;
  margin-right: 6px;
}
#down .menu .search-box {
  background-color: white;
  margin-left: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  border-radius: 10px;
}
#down .menu .search-box input {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 10px;
  width: 100%;
}
#down .menu .search-box button {
  border: none;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}
#down .icons ul li a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}
#down .icons ul li a span {
  font-size: 14px;
  margin-left: 5px;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/static/Montserrat-Bold.ttf);
}
#introduction .navigation ul {
  margin-top: 13px;
}
#introduction .navigation ul li:last-child a span {
  color: #ec2127;
}
#introduction .navigation ul li:last-child a i {
  color: #ec2127;
}
#introduction .navigation ul li a {
  font-size: 14px;
  color: #3C3F42;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#introduction .navigation ul li a i {
  font-size: 16px;
}
#introduction .navigation ul li a i:nth-child(3) {
  font-size: 10px;
}
#introduction .navigation ul li a span {
  flex: auto;
}
#introduction .navigation ul li a .span1 {
  color: #ec2127;
}
#introduction .navigation ul li a img {
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}
#introduction .intro-bg {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: relative;
}
#introduction .intro-bg a img {
  width: 100%;
}
#introduction .intro-bg i {
  background-color: #fefafa;
  border-radius: 50%;
  padding: 10px;
}
#introduction .intro-bg i:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
}
#introduction .intro-bg i:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}
#introduction .intro-bg .lines {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
#introduction .intro-bg .lines .line {
  height: 2px;
  width: 10%;
  margin-left: 10px;
}
#introduction .intro-bg .lines .line:nth-child(1) {
  background-color: #ec2127;
}
#introduction .intro-bg .lines .line:nth-child(2) {
  background-color: rgb(235, 225, 225);
}
#introduction .intro-bg .lines .line:nth-child(3) {
  background-color: rgb(235, 225, 225);
}

#guarantees {
  margin: 50px 0;
}
#guarantees .box {
  background-color: rgba(237, 237, 238, 0.862745098);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 135px;
  margin-left: 5px;
}
#guarantees .box img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
}
#guarantees .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 76%;
}
#guarantees .box .content span:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232332;
}
#guarantees .box .content span:nth-child(2) {
  font-size: 13px;
  color: #53595c;
  line-height: 115%;
  font-family: Arial, Helvetica, sans-serif;
}

#innovations {
  margin-bottom: 70px;
}

#announcement {
  border-radius: 20px;
}
#announcement .announcement-top {
  position: relative;
  background-color: #FFF;
  padding: 40px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}
#announcement .announcement-top h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #ec2127;
  font-weight: bold;
}
#announcement .announcement-top h2 span {
  color: #0c61d5;
}
#announcement .announcement-top img {
  width: 11%;
  position: absolute;
  top: 12px;
  right: 9px;
}
#announcement .announcement-top .tabs-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}
#announcement .announcement-top .tabs-scroll .tabs {
  padding: 10px 0;
  width: 120%;
}
#announcement .announcement-top .tabs-scroll .tabs span {
  padding: 6px 14px;
  background-color: #eaf0f8;
  border-radius: 19px;
  font-size: 16px;
}
#announcement .announcement-top .select-option #tabs {
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}
#announcement .announcement-bottom {
  padding: 40px 40px 20px 40px;
  background-color: #FFA319;
  display: flex;
  align-items: center;
}
#announcement .announcement-bottom .left .description ul li {
  list-style: inside;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}
#announcement .announcement-bottom .left .timer {
  width: 72%;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #FED237;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-top: 50px;
}
#announcement .announcement-bottom .left .timer span {
  font-size: 24px;
  letter-spacing: 3px;
}
#announcement .announcement-bottom .right {
  margin-left: 40px;
  padding: 15px;
}
#announcement .announcement-bottom .right .slider {
  padding: 18px;
  background-color: #FFF;
  border-radius: 20px;
}
#announcement .announcement-bottom .right .slider .desc {
  margin: 12px 0;
}
#announcement .announcement-bottom .right .slider .desc a {
  font-size: 20px;
  color: #232332;
}
#announcement .announcement-bottom .right .slider .img-box img {
  border-radius: 20px;
}
#announcement .announcement-bottom .right .slider .rating span,
#announcement .announcement-bottom .right .slider .rating i {
  font-size: 20px;
}
#announcement .announcement-bottom .right .slider .price {
  margin-top: 20px;
  color: #ec2127;
  font-weight: bold;
  font-size: 30px;
}
#announcement .announcement-bottom .right .slider .btns {
  margin-top: 22px;
}
#announcement .announcement-bottom .right .slider .btns button {
  background-color: #ec2127;
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  color: white;
  letter-spacing: 1.4px;
  border-radius: 5px;
}
#announcement .announcement-bottom .right .slider .btns a {
  margin-left: 20px;
  font-size: 12px;
  border-bottom: 1px dotted;
  color: #85898b;
}
#announcement .announcement-bottom .right .slider .btns a:hover {
  border: none;
}

#brands {
  margin: 100px 0;
}
#brands .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e8e8e8;
  width: 150px;
  height: 150px;
}
#brands .brand img {
  width: 80%;
}
#brands .brand span {
  text-transform: uppercase;
  color: #232332;
  font-size: 13px;
}

#sale {
  margin-bottom: 100px;
  position: relative;
}
#sale .sales {
  background-color: #ededee;
  border-radius: 20px;
  padding: 50px 22px 16px;
}
#sale .sales .left .text {
  margin-bottom: 50px;
}
#sale .sales .left .text h2 {
  font-size: 40px;
  color: #ec2127;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Montserrat;
}
#sale .sales .left .text h2 span {
  color: #232332;
}
#sale .sales .left .text p {
  color: #53595c;
  font-size: 20px;
  margin-bottom: 62px;
  font-family: Arial, Helvetica, sans-serif;
}
#sale .sales .left .text a {
  padding: 20px 35px;
  background: #ec2127;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
#sale .sales .left .text a i {
  margin-left: 6px;
}
#sale .sales .left img {
  position: absolute;
  bottom: 0;
}

#best-sales .cards .card-rating i {
  color: #fed237 !important;
}
#best-sales .cards .product-colors {
  margin-bottom: 10px;
}
#best-sales .cards .product-colors a {
  position: relative;
}
#best-sales .cards .product-colors a:nth-child(4)::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  width: 22px;
  height: 22px;
  top: -4px;
  left: -3px;
  border: 1px solid #ec2127;
  border-radius: 50%;
  z-index: 2;
}
#best-sales .cards .product-colors img {
  width: 15%;
  border-radius: 50%;
}
#best-sales .cards .prod-color {
  margin-bottom: 10px;
}
#best-sales .cards .prod-color a {
  position: relative;
}
#best-sales .cards .prod-color a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  width: 22px;
  height: 22px;
  top: -4px;
  left: -3px;
  border: 1px solid #ec2127;
  border-radius: 50%;
  z-index: 2;
}
#best-sales .cards .prod-color img {
  width: 15%;
  border-radius: 50%;
}

.cards {
  position: relative;
}
.cards .product-card {
  padding: 10px 15px 15px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: 15px 0;
  background-color: #FFF;
}
.cards .product-card .card-top {
  color: #232332;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}
.cards .product-card .card-top i {
  font-size: 18px;
  opacity: 0.7;
  margin-left: 10px;
}
.cards .product-card .card-img {
  padding: 10px;
}
.cards .product-card .card-img a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .product-card .card-center {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.05em;
  margin-top: 40px;
}
.cards .product-card .card-center .desc span {
  text-transform: uppercase;
  padding: 2px 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  color: white;
  display: inline-block;
}
.cards .product-card .card-center .desc span:nth-child(3) {
  font-size: 12px;
}
.cards .product-card .card-center .desc span:nth-child(2) {
  margin-left: 5px;
}
.cards .product-card .card-center .desc a {
  font-size: 10px;
  color: #232332;
}
.cards .product-card .card-bottom .main-price p {
  font-size: 24px;
  color: #232332;
  font-family: Arial, Helvetica, sans-serif;
}
.cards .product-card .card-bottom .shopping-cart {
  display: flex;
  justify-content: flex-end;
}
.cards .product-card .card-bottom .shopping-cart button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ec2127;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background-color: white;
}
.cards .product-card .card-bottom .shopping-cart button i {
  font-size: 18px;
}
.cards .left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-50%);
  background-color: #FFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  text-align: center;
}
.cards .right {
  cursor: pointer;
  position: absolute;
  right: -2%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  text-align: center;
  padding: 6px;
}

.line {
  height: 8px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.line .child-line {
  height: 8px;
  width: 18%;
  background-color: #ec2127;
  border-radius: 20px;
}

#sale .cards, #best-sales .cards {
  padding-right: 20px;
}
#sale .cards .product-card, #best-sales .cards .product-card {
  width: 108%;
}
#sale .cards .product-card .card-top, #best-sales .cards .product-card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sale .cards .product-card .card-top .discount, #best-sales .cards .product-card .card-top .discount {
  position: relative;
  top: -14px;
  left: -35px;
}
#sale .cards .product-card .card-top .discount .txt, #best-sales .cards .product-card .card-top .discount .txt {
  position: relative;
  top: 35px;
  left: -16px;
  color: white;
}
#sale .cards .product-card .card-top .discount .txt .percent, #best-sales .cards .product-card .card-top .discount .txt .percent {
  position: absolute;
  top: -7px;
  font-size: 12px;
  right: -9px;
}
#sale .cards .product-card .card-top .discount img, #best-sales .cards .product-card .card-top .discount img {
  width: 56%;
}
#sale .cards .product-card .center, #best-sales .cards .product-card .center {
  height: 206px;
  display: block;
}
#sale .cards .product-card .card-center a, #best-sales .cards .product-card .card-center a {
  color: #3C3F42;
  font-size: 11px;
}
#sale .cards .product-card .card-center .memory, #best-sales .cards .product-card .card-center .memory {
  border: 1px solid #ec2127;
  padding: 6px 14px;
  margin: 10px 0;
  border-radius: 30px;
  width: 38%;
}
#sale .cards .product-card .card-center .memory a, #best-sales .cards .product-card .card-center .memory a {
  color: #ec2127;
  font-size: 11px;
}
#sale .cards .product-card .card-center .color, #best-sales .cards .product-card .card-center .color {
  border: 1px solid #ec2127;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  margin-bottom: 10px;
}
#sale .cards .product-card .card-center .color a, #best-sales .cards .product-card .card-center .color a {
  border-radius: 50%;
  padding: 9px;
  background-color: #3C3F42;
  position: absolute;
  top: 20%;
  left: 18%;
}
#sale .cards .product-card .card-bottom .price span:nth-child(1), #best-sales .cards .product-card .card-bottom .price span:nth-child(1) {
  font-weight: bold;
  font-size: 24px;
}
#sale .cards .product-card .card-bottom .price span:nth-child(2), #best-sales .cards .product-card .card-bottom .price span:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  margin-left: 6px;
  color: #95898b;
}
#sale .cards .product-card .card-bottom .price p, #best-sales .cards .product-card .card-bottom .price p {
  color: #25ae60;
  font-size: 14px;
}

@media (max-width: 992px) {
  #guarantees .boxes .box {
    margin-bottom: 10px;
  }
  #guarantees .boxes .box img {
    width: 20%;
  }
  .product-card {
    width: 100% !important;
  }
  #innovations .title h2 {
    font-size: 20px;
  }
  #announcement .announcement-top {
    padding: 20px;
  }
  #announcement .announcement-bottom {
    flex-direction: column-reverse;
  }
  #announcement .announcement-bottom .left {
    margin-top: 20px;
  }
  #announcement .announcement-bottom .right {
    margin: 0;
  }
  #announcement .announcement-bottom .right .slider {
    width: 100%;
  }
  #announcement .announcement-bottom .right .slider .img-box {
    width: 50%;
  }
  #announcement .announcement-bottom .right .slider .img-box img {
    width: 100%;
  }
  #brands .brands-slider {
    flex-wrap: wrap;
  }
  #brands .brands-slider a {
    margin-bottom: 15px;
  }
  #sale .memory {
    width: 20% !important;
  }
  #sale .left .text h2 {
    font-size: 18px !important;
  }
  #sale .left .text p {
    font-size: 13px !important;
    margin-bottom: 0 !important;
  }
  #sale .left .text a {
    display: none;
  }
  #sale .left img {
    width: 30%;
    top: 80px;
    right: 25px;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title h2 {
  color: #232332;
  font-size: 20px;
  font-weight: bold;
}
.title a {
  color: #53595c;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.title a i {
  margin-left: 10px;
}

.rating {
  margin: 8px 0;
}
.rating span {
  color: #85898b !important;
  text-transform: lowercase !important;
  font-size: 10px !important;
  opacity: 0.6;
}
.rating i {
  color: #85898b;
  opacity: 0.3;
  font-size: 14px;
}

.credict {
  display: flex;
  align-items: center;
}
.credict i {
  color: #FFA319;
  margin-right: 5px;
}
.credict span {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  border-bottom: 1px dotted;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */